{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/baseinsta.css' %}">

{% endblock %}
{% block content %}
{{block.super}}


<!-- Carousel container -->
<div id="my-pics" class="carousel slide" data-ride="carousel" style="width:300px;margin:auto;">

    <!-- Indicators -->
    <ol class="carousel-indicators">
    <li data-target="#my-pics" data-slide-to="0" class="active"></li>
    <li data-target="#my-pics" data-slide-to="1"></li>
    <li data-target="#my-pics" data-slide-to="2"></li>
    </ol>
    
    <!-- Content -->
    <div class="carousel-inner" role="listbox">
    
    <!-- Slide 1 -->
    <div class="item active">
    <img src="/pix/samples/16l.jpg" alt="Sunset over beach">
    <div class="carousel-caption">
    <h3>Boracay</h3>
    <p>White Sand Beach.</p>
    </div>
    </div>
    
    <!-- Slide 2 -->
    <div class="item">
    <img src="/pix/samples/4l.jpg" alt="Rob Roy Glacier">
    <div class="carousel-caption">
    <h3>Rob Roy Glacier</h3>
    <p>You can almost touch it!</p>
    </div>
    </div>
    
    <!-- Slide 3 -->
    <div class="item">
    <img src="/pix/samples/15l.jpg" alt="Longtail boats at Phi Phi">
    <div class="carousel-caption">
    <h3>Phi Phi</h3>
    <p>Longtail boats at Phi Phi.</p>
    </div>
    </div>
    
    </div>

<div class="container mt-5" style="gap: 15px;">

  <h1 class="text-center">POSTED PROJECTS</h1>

  <div class="col-md-3">
    <form action="/post/project/">
      <input type="submit" style=" background :linear-gradient(to left,#fd1d1d,#fcb045)" value="post a project" />
    </form>
  </div>

  <div class="row mt-4" id="">
    {% for proj in project %}
    <div class="col-md-12 col-md-6 col-lg-6" id="main" style="gap:5px;">
      <div class="card mb-4 " id="" style="width:35rem;height:fit-content;margin: 10px;padding: 5px;">
        <a href="{% url 'project_details' proj.id %}">
          <img src="{{ proj.image.url }}" class="card-img-top responsive" alt="Personal"style="object-fit: cover;height:360px;">
        </a>
        <div class="card-body ">
          <p class="fade-item mb-2"> Title:  {{ proj.title}}</p>
          <div class="d-flex justify-content-between location-date">
            <div>
              <p class="text-capitalise">category:  {{ proj.category}}</p>
            </div>
            <div>
              <a href="{{ proj.url }}"><button class="btn btn-outline-info">view_project</button></a>
              <br> <br>
              <a href="{% url 'project_details' proj.id %}"><button class="btn btn-outline-info">Rate_project</button></a>
            </div>

          </div>


        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>




{% endblock %}